<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>
	{% load staticfiles %}
    <!-- Bootstrap Core CSS -->
    <link href="{{STATIC_URL}}css/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{{STATIC_URL}}css/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="{{STATIC_URL}}css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{STATIC_URL}}css/sb-admin-2.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{{STATIC_URL}}css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">


    <!-- background -->
    <link href="{{STATIC_URL}}css/event_page.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/background.css" rel="stylesheet">
    <link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
    <!-- events -->
    <link href='http://fonts.googleapis.com/css?family=Esteban' rel='stylesheet' type='text/css'>
    <link href="{{STATIC_URL}}css/events.css" rel="stylesheet">
    <!--Other links-->
    <link rel="stylesheet" type="text/css" href="/media/admin/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/media/admin/css/global.css"/>
    <link rel="stylesheet" type="text/css" href="/media/admin/css/widgets.css"/>

    <!-- Forms -->
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/forms.css"/>

                 <div class="overlay">
                 </div>
    <!-- add styles -->
    <link href="css/ui-lightness/jquery-ui-1.9.2.custom.min.css" rel="stylesheet" type="text/css" /> 
</head>
<body>
	<div id="wrapper">
	    <!-- Navigation -->
	    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-botton:0">
            <div class="navbar-header col-lg-4">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">DiscoverAGig</a>
                <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static "img/logo.jpg" %}" align="left"></a>
                <div>
                        <strong>The Beast</strong>
                        <span class="pull-right text-muted ">{{xps}}% Complete</span>
                    <div class="progress progress-striped active" >
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{xps}}%">
                            <span class="sr-only">{{xps}}% Complete (success)</span>
                        </div>

                   </div>
                </div>
            </div>

            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'index' %}">
                        {% if user_type == 'fan' %}
                            <i class="fa fa-home fa-fw"></i> <b>Home</b>
                        {% else %}
                            <i class="fa fa-th-list fa-fw"></i> <b>Wall</b>
                        {% endif %}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'events' %}">
                            <i class="fa fa-music fa-fw"></i> <b>Gigs</b>
                        </a>
                    </li>
                    {% if user_type == 'fan' %}
                    <!-- Fan Top Bar -->
                    <li>
                        <a href="{% url 'achievements' %}">
                            <i class="fa fa-trophy fa-fw"></i> <b>Achievements</b>
                        </a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'create_event' %}">
                            <i class="fa fa-thumb-tack fa-fw"></i> <b>Create Event</b>
                        </a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'band_list' %}">
                            <i class="fa fa-music fa-fw"></i> <b>Bands</b>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i> <b>{{ user.username }}</b> <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                            {% if user_type == 'fan' %}
                            <a href="{% url 'fan' user.username %}">
                            {% else %}
                            <a href="{% url 'band' user.username %}">
                            {% endif %}
                            <i class="fa fa-user fa-fw"></i> My Profile</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="{% url 'edit_profile' %}"><i class="fa fa-gear fa-fw"></i> Edit Profile</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                            </li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'events' %}">
                            <i class="fa fa-music fa-fw"></i> <b>Events</b>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-key fa-fw"></i> <b>Register</b> <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="{% url 'register' 'fan' %}"><i class="fa fa-user fa-fw"></i> Fan</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="{% url 'register' 'band' %}"><i class="fa fa-group fa-fw"></i> Band</a>
                            </li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                {% endif %}
            </ul>
	    </nav>

        <!-- Page Content -->
        <div class="container-fluid">
            <div class="row">
                {% block main_body %}{% endblock %}
            </div>
        </div>

	</div>

	<!-- end of wrapper -->



    <!-- jQuery -->
    <script src="{{STATIC_URL}}js/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{STATIC_URL}}js/javascript/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{STATIC_URL}}js/javascript/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{STATIC_URL}}js/javascript/js/sb-admin-2.js"></script>

    <!-- Other -->
    <script src="js/jquery.191.js"></script>
    <script src="js/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
      <script>
         $(function() {
            $( "#datepicker-1" ).datepicker();
         });
      </script>
	<!-- fade-->
     <script src="{{STATIC_URL}}js/javascript/js/event_page.js"></script>
     <script src="{{STATIC_URL}}js/javascript/js/submit-button.js"></script>
     <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
     <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
</body>

</html>
