{% extends 'webapp/base.html' %}

{% block title %}Create an event{% endblock %}

{% block main_body %}
  {% if error %}
  	<h1>{{error}}</h1>
  {% endif %}
  {% if event_form %}
    <form id="create_event" method="post" action="/create_event" enctype="multipart/form-data">
        <div class="row">
            {% csrf_token %}
            <div class="col-lg-3"></div>
            <div class="col-lg-3">
                <div class="form-group input-group">
                    <span class="input-group-addon"><i class="fa fa-book fa-fw"></i></span>
                    <input type="text" class="form-control" name="name" placeholder="Name">
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon"><i class="fa fa-home fa-fw"></i></span>
                    <select name="city" class="form-control">
                        <option value="" disabled selected>City</option>
                        {% for city in cities %}
                        <option>{{ city }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon"><i class="fa fa-globe fa-fw"></i></span>
                    <input type="text" class="form-control" name="venue" placeholder="Venue">
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon"><i class="fa fa-money fa-fw"></i></span>
                    <input type="float" class="form-control" name="price" placeholder="Price">
                </div>
            </div>

            <div class="col-lg-3">
                <div class="form-group input-group">
                    <span class="input-group-addon"><i class="fa fa-share fa-fw"></i></span>
                    <input type="text" class="form-control" name="website" placeholder="Website">
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon"><i class="fa fa-play fa-fw"></i></span>
                    <select name="genre" class="form-control">
                        <option value="" disabled selected>Genre</option>
                        {% for genre in genres %}
                        <option>{{ genre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon"><i class="fa fa-calendar-o fa-fw"></i></span>
                    <input type="text" id="datepicker-1" class="form-control" name="date" placeholder="Date">
                </div>
                <div class="form-group input-group">
                    <input type="file" name="picture">
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>
        <div class="row">
            <div class="col-lg-5"></div>
            <div class="col-lg-2">
                <button type="submit" name="submit" class="btn btn-primary btn-lg btn-block">Register</button>
            </div>
            <div class="col-lg-5"></div>
        </div>
    </form>
    {% endif %}
{% endblock %}