{% extends 'webapp/base.html' %}

{% block title %}Create an event{% endblock %}

{% block main_body %}
	{% if error %}
		<h1>{{error}}</h1>
	{% endif %}
	{% if event_form %}
    <form id="create_event" method="post" action="/create_event/" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="name">
            <input type="float" name="price">
    
              <p>Enter Date: <input type="text" name = "date" id="datepicker-1"></p>
              <input type="submit" name="submit" value="Create" />
        </form>

    {% endif %}
{% endblock %}