{% extends 'webapp/base.html' %}

{% block title %}{{event.name}}{% endblock %}

{% block main_body %}

{% if event %}
                        <div class="row">
                <div class="col-lg-1"></div>
				<div class="col-lg-6">
                    <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">{{ event.name }}</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-5 col-lg-5 " align="center"> <img alt="User Pic" src="/media/{{ event.picture }}" height="150" width="150" class="img-circle"> </div>
                <div class=" col-md-7 col-lg-7 ">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td width="250px">Band Name:</td>
                        <td><a href="{% url 'band' event.band.profile.user.username %}">{{ event.band.profile.name }}</td>
                      </tr>
                      <tr>
                        <td>Venue</td>
                        <td>{{ event.venue }}</td>
                      </tr>
                        <tr>
                        <td>City:</td>
                        <td>{{ event.city }}</td>
                      </tr>
                      <tr>
                        <td>Date:</td>
                        <td>{{ event.date }}</td>
                      </tr>
                      <td>Price:</td>
                        <td>
                        {% if price == None or event.price == 0.0 %}
                        Free
                        {% else %}
                        £{{ event.price }}
                        {% endif %}</td>
                      </tr>
                        <tr>
                        <td>Tickets:</td>
                        <td><a href="{{ event.website }}">{{ event.website }}</a></td>
                      </tr>
                       <tr>
                        <td width="250px">Description:</td>
                        <td>{{ event.description }}</td>
                      </tr>
                      {{ event.visited }}
                      {% if user_type == 'fan' %}
                     <tr>
                        <td>Did you go?</td>
                        <td><form id="achievement" method="post" action=".">
                            {% csrf_token %}
                            {% if user in visited %}
                            <button type="submit" class="btn btn-primary disabled">I went there!</button>
                            {% else %}
                            <button type="submit" id="btn" name="achievement" class="btn btn-primary" onClick="document.getElementById('btn').style.display='hidden'">I went there!</button>
                            {% endif %}
                            </form></td>
                      </tr>
                      {% endif %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
                </div>
					</div>
						<div class="col-lg-3">
							<div class="chat-panel panel panel-default">
								<div class="panel-heading text-center">
									<i class="fa fa-comments fa-2x pull-left"></i>
									<h3 style="margin:0"> Leave a comment!</h3>
								</div>
							<!-- /.panel-heading -->
								<div class="panel-body">
									<ul class="chat">
									{% for comment in comments %}
									<li class="left clearfix">
										<span class="chat-img pull-left">
											{% if comment.user.picture %}
												<img src="/media/{{ comment.user.picture }}" width="50" height="50" alt="User Avatar" class="img-circle" />
											{% else %}
												<img src="/static/img/user_avatar.png" width="50" height="50" alt="No Avatar" class="img-circle">
											{% endif %}
										</span>
										<div class="chat-body clearfix">
											<div class="header">
												{% if comment.user in band_profiles %}
												<strong class="primary-font"><a href="{% url 'band' comment.user.user.username %}">{{ comment.user.user.username }}</a></strong>
												{% elif comment.user in user_profiles %}
												<strong class="primary-font"><a href="{% url 'fan' comment.user.user.username %}">{{ comment.user.user.username }}</a></strong>
												{% endif %}
												<small class="pull-right text-muted">
													<i class="fa fa-clock-o fa-fw"></i> {{ comment.date }}
												</small>
											</div>
											<p>
												{{ comment.text }}
											</p>
										</div>
									</li>
									{% endfor %}
								</ul>
							</div>
							<!-- /.panel-body -->
							<div class="panel-footer">
								<div class="input-group">
									<form id="comment" method="post" action=".">
									{% csrf_token %}
										<input id="btn-input" type="text" name="text" class="form-control input-sm" placeholder="Type your message here..." />
										<span class="input-group-btn">
											<button type="submit" class="btn btn-warning btn-sm" id="btn-chat">
												Send
											</button>
										</span>
									</form>
								</div>
							</div>
							<!-- /.panel-footer -->
						</div>
						<!-- end of chat panel-->
						<div class="col-lg-1"></div>
					</div>
					<!-- end of column -->
			 </div>
             </div>
             </div>
             
{% endif %}
{% endblock %}
