{% extends 'webapp/base.html' %}

{% load staticfiles %}

{% block title %}Index{% endblock %}

{% block main_body %}
{% if user.is_authenticated %}

{% if user_type == fan %}
{% else %}
    <div class="row">
    </div>
{% endif %}

{% else %}
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-3">
              <div class="panel panel-primary">
				    <div class="panel-heading">
						<h1 class="panel-title">Most Viewed Gigs</h1>
					</div>
			  </div>
			<ul class="list-group">
				{% for event in events %}
				 <h3><li class="list-group-item"><a href={% url 'event'  event.slug %}>{{ event.name }} at {{event.venue}}</a></li></h1>
				{% endfor %}
			</ul>
        </div>
        <div class="col-lg-4">
            <form class="form-signin" role="form" method="post" action=".">
                {% csrf_token %}

                <h3 class="form-signin-heading">Please Login</h3>
                <input class="form-control" placeholder="Username" id="id_username" maxlength="254" name="username" type="text" required autofocus=""/>
                <input type="password" class="form-control" placeholder="Password" id="id_password" name="password" type="password" required />

                <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
            </form>
        </div>
        <div class="col-lg-3">
              <div class="panel panel-primary">
				    <div class="panel-heading">
						<h1 class="panel-title">Upcoming Gigs</h1>
					</div>
			  </div>
            <ul class="list-group">
				{% for upcoming_event in upcoming %}
				 <h3><li class="list-group-item"><a href={% url 'event'  upcoming_event.slug %}>{{ upcoming_event.name }} at {{upcoming_event.venue}} ( {{upcoming_event.date}} )</a></li></h1>
				{% endfor %}
			</ul>
        </div>        
        <div class="col-lg-1">
        </div>
    </div>
{% endif %}
{% endblock %} 