{% extends 'webapp/base.html' %}

{% block title %}Change your password{% endblock %}

{% block main_body %}
    {% if user.is_authenticated %}
    <div class="row">
        <form id="password_change" role="form" method="post" action="{% url 'change_password' %}">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-12 text-center">
                    {% csrf_token %}
                    {% if error_message %}
                        <h4 style="color:#fff;">{{ error_message }}</h4><br/>
                    {% else %}
                        <h4 style="color:#fff;">{% if success %}{{success}}</h4><br/>{% endif %}
                    {% endif %}
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                        <input type="password" class="form-control" name="current_password" placeholder="Current Password">
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="fa fa-edit fa-fw"></i></span>
                        <input type="password" class="form-control" name="new_password" placeholder="New Password">
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="fa fa-check-square-o  fa-fw"></i></span>
                        <input type="password" class="form-control" name="repeat_password" placeholder="Repeat Password">
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <button class="btn btn-lg btn-primary btn-block" type="submit" name="change_password">Change</button>
                    </div>
                    <div class="col-lg-3"></div>
                </div>
            </div>
            <div class="col-lg-4"></div>
        </form>
    </div>
    {% endif %}
{% endblock %}