{% extends 'webapp/base.html' %}

{% block title %}The Wall{% endblock %}

{% block main_body %}
{% if user_type == band %}
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-clock-o fa-fw"></i> User Feedback
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <ul class="timeline">
                    {% for fb in feedback %}
                    {% if fb in odd %}
                    <li>
                        <div class="timeline-badge"><i class="fa fa-check"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">{{ fb.user.name }}</h4>
                                <p><small class="text-muted"><i class="fa fa-clock-o"></i> {{ fb.date }}</small>
                                </p>
                            </div>
                            <div class="timeline-body">
                                <p>{{ fb.text }}</p>
                            </div>
                        </div>
                    </li>
                    {% else %}
                    <li class="timeline-inverted">
                        <div class="timeline-badge warning"><i class="fa fa-credit-card"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">{{ fb.user.name }}</h4>
                                <p><small class="text-muted"><i class="fa fa-clock-o"></i> {{ fb.date }}</small>
                            </div>
                            <div class="timeline-body">
                                <p>{{ fb.text }}</p>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}